@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");

:root {
  --background: black;
  --foreground: white;
}

.header-div {
  display: flex;
  padding: 4rem 7rem;
  justify-content: space-around;
  height: 100vh;
  align-items: center;  
  gap: 20rem;
}

.left p {
  font-size: 3rem;
  color: var(--foreground);
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
} 

.my-name {
  position: relative;
  font-size: 8rem;
  color: white;
  letter-spacing: 0.2rem;
  line-height: 1;
  font-weight: 700;
  /* font-family: 'Fira Mono', monospace; */
  /* font-family: 'Medula One', sans-serif; */
  animation: fadeWhite 4s forwards;
  animation-delay: 2s;
  width: fit-content;
}

.glitch-layer {
  position: relative;
  display: inline-block;
  font-weight: 700;
}

.glitch-layer::before,
.glitch-layer::after {
  content:attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: var(--foreground);
  background-color: var(--background);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  pointer-events: none;
  animation: none;
}

.my-name:hover .glitch-layer::before,
.my-name:hover .glitch-layer::after {
  animation: glitch 1.2s infinite alternate-reverse;
}

.glitch-layer::before {
  left: -2px;
  top: -2px;
}

.glitch-layer::after {
  left: 2px;
  top: 2px;
}

@keyframes fadeWhite {
  100% {
    color: var(--foreground);
  }
}

/* @keyframes glitch {
  0%   { clip: rect(12px, 9999px, 60px, 0); }
  10%  { clip: rect(85px, 9999px, 90px, 0); }
  20%  { clip: rect(30px, 9999px, 65px, 0); }
  30%  { clip: rect(5px, 9999px, 40px, 0); }
  40%  { clip: rect(50px, 9999px, 85px, 0); }
  50%  { clip: rect(15px, 9999px, 70px, 0); }
  60%  { clip: rect(90px, 9999px, 100px, 0); }
  70%  { clip: rect(25px, 9999px, 55px, 0); }
  80%  { clip: rect(60px, 9999px, 80px, 0); }
  90%  { clip: rect(10px, 9999px, 30px, 0); }
  100% { clip: rect(40px, 9999px, 75px, 0); }
} */

@keyframes glitch {
  0%   { clip: rect(10px, 9999px, 60px, 0); }
  25%  { clip: rect(40px, 9999px, 80px, 0); }
  50%  { clip: rect(20px, 9999px, 70px, 0); }
  75%  { clip: rect(35px, 9999px, 85px, 0); }
  100% { clip: rect(15px, 9999px, 65px, 0); }
}


.right {
  width: 400px;
}

