@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "TheGoodMonolith", monospace;
  /* font-family: "Press Start 2P", system-ui; */
  /* font-family: "VT323", monospace; */
  background-color: black;
  color: white;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  scroll-snap-align: start;
}